<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WebFlix.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=big-data-3.logti.etsmtl.ca:1521/Log660;PASSWORD=7fUXztFc;PERSIST SECURITY INFO=True;USER ID=EQUIPE15" providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>